.card1 {
  font-family: nunito sans;
  background: SeaGreen;
  height: 180px;
  width: 150px;
  border-radius: 7%;
  color: white;
  text-align: center;
  padding: 40px;
  transition: width 2s, height 2s, transform 2s, background 2s;
}

.card1:hover {
  width: 180px;
  height: 200px;
  background: orangered;
  transform: rotate(360deg);
}
